<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>
  <body>
    <% include ../partials/nav.ejs %>

    <h1>SUBJECT DATA</h1>

    <form action="/subject/add" method="POST">
      Subject name:<br>
      <input type="text" name="subjectName" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>
