<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>
  <body>
    <% include ../partials/nav.ejs %>

    <h1><%= dataSubjects.subjectName %></h1>

   <table border="1px" ">
    <tr>
      <th>ID</th>
      <th>Student Name</th>
      <th>Score</th>
      <th>Desc</th>
    </tr>
    <% dataStudentSubjects.forEach((row) => { %>
      <tr>
        <td><%= row.id %></td>
        <td><%= row.Student.getFullName() %></td>
        <td></td>
        <td></td>
      </tr>
    <% }) %>
    
  </table> 

  </body>
</html>
