<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>
  <body>
    <% include ../partials/nav.ejs %>

    <h1>SUBJECTS DATA</h1>

   <table border="1px" ">
    <tr>
      <th>ID</th>
      <th>Subject Name</th>
      <th>Teacher</th>
      <th>Actions</th>
    </tr>
    <% dataSubjects.forEach((rows) => { %>
      <tr>
        <td><%= rows.id %></td>
        <td><%= rows.subjectName %></td>
        <td>
          <ol style="margin: 0">
          <% rows.Teachers.forEach((row) => { %>
          <li><%= row.firstName %></li>
          <% }) %>
          </ol> 
        </td>
        <td><a href="/subject/enrolledstudents/<%= rows.id %>">Enrolled Students</a></td>
      </tr>
    <% })%>
  </table> 

  <h4><a href="/subject/add">Add Subject</a></h4>
  </body>
</html>
