<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SCHOOL APP</title>
  </head>
  <body>
    <h1>SCHOOL APP</h1>
    <table>
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/teacher">Teachers</a></td>
        <td><a href="/student">Students</a></td>
        <td><a href="/subject">Subjects</a></td>
      </tr>
    </table>
  </body>
</html>
