<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body>
    <nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/student">Students</a></li>
    <li><a href="/teacher">Teachers</a></li>
    <li><a href="/subject">Subjects</a></li>
  </ul>
</nav>
    
    <h1>LOGIN PAGE</h1>

    <form action="/login" method="POST">
      Username:<br>
      <input type="text" name="username" value="">
      <br>
      Password:<br>
      <input type="password" name="password" value="">
      <br><br>
      <input type="submit" value="Login">
    </form> 
  </body>
</html>
