<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STUDENT DATA</title>
  </head>
  <body>
    <h1>STUDENT DATA</h1>
    
    <table>
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/teacher">Teachers</a></td>
        <td><a href="/student">Students</a></td>
        <td><a href="/subject">Subjects</a></td>
      </tr>
    </table>

    <% if (typeof errors !== 'undefined') { %>
      <h4>PERINGATAN : </h4>
      <ul>
        <% errors.forEach((error) => { %>
            <li><%= error.message %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/student/add" method="POST">
      First name:<br>
      <input type="text" name="firstName" value="">
      <br>
      Last name:<br>
      <input type="text" name="lastName" value="">
      <br>
      Email:<br>
      <input type="text" name="email" value="">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>
