<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STUDENTS DATA</title>
  </head>
  <body>
    
    <table>
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/teacher">Teachers</a></td>
        <td><a href="/student">Students</a></td>
        <td><a href="/subject">Subjects</a></td>
      </tr>
    </table>

    <h1>STUDENTS DATA</h1>

    <form action="/student/edit/<%= dataStudents.id %>" method="POST">
      First name:<br>
      <input type="text" name="firstName" value="<%= dataStudents.firstName %>">
      <br>
      Last name:<br>
      <input type="text" name="lastName" value="<%= dataStudents.lastName %>">
      <br>
      Email:<br>
      <input type="text" name="email" value="<%= dataStudents.email %>">
      <br><br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>
